<div nz-row>
  <div nz-row nzType="flex" nzJustify="space-around" nzGutter="14">
    <div nz-col nzSpan="8">
      <nz-card nzTitle="PC端菜单" nzBordered="true">
        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
        </nz-input-group>
        <ng-template #suffixIcon>
          <i nz-icon type="search"></i>
        </ng-template>
        <nz-tree #treeCom [nzData]="nodeList" nzAsyncData="true" [nzSearchValue]="searchValue"
          (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)" (nzSearchValueChange)="nzEvent($event)"
          nzExpandAll="true" nzHideUnMatched="true">

          <ng-template #nzTreeTemplate let-node>
            <span>
              <span [class]="node.isSelected">
                <!-- {{node.title}} -->
                <span [innerHTML]="highLightTest(node)"></span>
              </span>
              <span style=" float: right;">
                <span nz-tooltip nzTitle="添加"><a><i nz-icon type="plus" theme="outline" style="padding: 0 3px;"
                      (click)="plusMenu(node.origin)"></i></a></span>
                <span nz-tooltip nzTitle="编辑">
                  <a><i nz-icon type="edit" theme="outline" style="padding: 0 3px;"
                      (click)="editMenu(node)"></i></a></span>
                <span nz-tooltip nzTitle="删除">
                  <a><i nz-icon type="delete" theme="outline" style="padding: 0 3px;"
                      (click)="deleteMenu(node.origin)"></i></a></span>
              </span>
            </span>
          </ng-template>

        </nz-tree>
      </nz-card>
    </div>
    <div nz-col nzSpan="16">
    </div>
  </div>
</div>